USE [master]
GO
/****** Object:  Database [Project_PRN]    Script Date: 7/15/2022 1:34:49 AM ******/
CREATE DATABASE [Project_PRN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_PRN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Project_PRN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_PRN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Project_PRN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_PRN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_PRN]
GO
/****** Object:  Table [dbo].[Hoa_Don]    Script Date: 7/15/2022 1:34:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_Don](
	[od_ID] [int] IDENTITY(1,1) NOT NULL,
	[sp_ID] [int] NOT NULL,
	[od_Ngay_Mua] [date] NOT NULL,
	[od_So_Luong] [int] NOT NULL,
	[od_Tong_Tien] [money] NOT NULL,
	[od_Ten_Khach_Hang] [nvarchar](200) NOT NULL,
	[od_Dia_Chi] [nvarchar](max) NOT NULL,
	[od_So_Dien_Thoai] [nvarchar](10) NOT NULL,
	[od_Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[od_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Pham]    Script Date: 7/15/2022 1:34:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham](
	[sp_ID] [int] IDENTITY(1,1) NOT NULL,
	[sp_Ten] [nvarchar](200) NOT NULL,
	[sp_So_Luong] [int] NOT NULL,
	[sp_Gia_Goc] [money] NOT NULL,
	[sp_Gia_Bab] [money] NOT NULL,
	[sp_Ngay_Dat] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD FOREIGN KEY([sp_ID])
REFERENCES [dbo].[San_Pham] ([sp_ID])
GO
USE [master]
GO
